---
import Section from "@/components/partials/Section.astro";

import { app } from "@/configs/app";
---

<footer class="footer my-5" id="footer">
  <Section>
    <div class="text-center text-sm">
      &copy; {new Date().getFullYear()}
      {" " + app.name}, All rights reserved.
    </div>
  </Section>
</footer>
