---
import Card from "@/components/partials/Card.astro";

import { app } from "@/configs/app";
---

<footer class="footer my-5" id="footer">
  <Card>
    <div class="text-center">
      &copy; {new Date().getFullYear()}
      {" " + app.name}. All rights reserved.
    </div>
  </Card>
</footer>
