---
import Summary from "@/components/partials/Summary.astro";
import Contributions from "@/components/partials/Contributions.astro";
---

<main class="main" id="main">
  <div class="flex flex-col gap-5">
    <Summary />
    <Contributions />
  </div>
</main>
