---
import Card from "@/components/partials/Card.astro";

import { CONTRIBUTIONS } from "@/constants/data";
---

<Card>
  <div class="p-2 flex flex-col gap-2">
    <div>
      <h3 class="scroll-m-20 text-2xl font-semibold tracking-tight mt-1">
        Contributions
      </h3>
      <p class="leading-7 [&:not(:first-child)]:mt-6">
        Cover art for the Journal of Biological Chemistry (JBC) visualizing
        antibiotic-resistant pathogens:
      </p>
    </div>

    <div>
      <div>
        <h4
          class="scroll-m-20 text-xl font-semibold tracking-tight mt-5 flex flex-row items-center gap-2.5"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-width="1.5"
            >
              <path
                d="M6 19.623c-.69-.195-1.232-.491-1.682-.941C3 17.364 3 15.242 3 11s0-6.364 1.318-7.682S7.758 2 12 2s6.364 0 7.682 1.318S21 6.758 21 11s0 6.364-1.318 7.682c-.45.45-.993.746-1.682.941"
              ></path>
              <path
                stroke-linejoin="round"
                d="M12 20.193c-.414 0-.748.32-1.414.958c-.647.619-.97.929-1.242.831a.5.5 0 0 1-.096-.046C9 21.779 9 21.31 9 20.376v-3.125c0-1.532 0-2.299.44-2.775C9.878 14 10.585 14 12 14s2.121 0 2.56.476s.44 1.243.44 2.775v3.125c0 .935 0 1.403-.248 1.56a.5.5 0 0 1-.096.046c-.272.098-.595-.212-1.242-.831c-.666-.639-1-.958-1.414-.958M8 10h8M8 6h4"
              ></path>
            </g>
          </svg>
          April 2025 | Volume 301, Issue 4 | Open Access
        </h4>
        <blockquote class="mt-6 border-l-2 pl-6 italic">
          This 3D visualization helps biochemists better understand the
          structure of antibiotic-resistant bacteria, contributing to scientific
          communication in the field of biochemical science.
        </blockquote>
        <a href={CONTRIBUTIONS.cover.img} target="_blank">
          <img
            src={CONTRIBUTIONS.cover.img}
            alt={CONTRIBUTIONS.cover.alt}
            class="sm:h-100 w-full mt-5 rounded-2xl border object-contain"
          />
        </a>
        <p class="leading-7 [&:not(:first-child)]:mt-6">
          On the Cover: Depicted are the outer and inner membranes of the common
          antibiotic resistant pathogen P. aeruginosa. (Out of focus P.
          aeruginosa (brown) is featured in the background). AlphaFold
          predictions decorate the two membranes. In green is the outer membrane
          lipoprotein YaiW. The article discovers that YaiW helps transfer the
          bactericidal fragment (blue) of the tear, plasma, cerebral spinal
          fluid and salivary protein lacritin across the outer membrane into the
          periplasm, the region between both membranes. The article also
          discovers that the fragment then binds the inner membrane ferrous iron
          transporter FeoB (red) to inhibit ferrous iron (red spheres) uptake
          into the cytoplasm. The fragment also binds one subunit of the inner
          membrane spermidine/putrescine transporter (orange, purple, aqua).
          This inhibits spermidine and putrescine (black/blue) uptake. The
          lacritin fragment kills the PA14 pathogenic strain of P. aeruginosa
          and clinical isolates. P. aeruginosa failed to develop resistance
          against it.
        </p>
        <div class="mt-4 flex flex-row gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
          >
            <g
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
            >
              <path
                d="M14 21.5h-4c-3.288 0-4.931 0-6.038-.908a4 4 0 0 1-.554-.554C2.5 18.93 2.5 17.288 2.5 14c0-3.287 0-4.931.908-6.038a4 4 0 0 1 .554-.554C5.07 6.5 6.712 6.5 10 6.5h4c3.287 0 4.931 0 6.038.908q.304.25.554.554c.908 1.107.908 2.75.908 6.038s0 4.931-.908 6.038a4 4 0 0 1-.554.554c-1.107.908-2.75.908-6.038.908"
              ></path>
              <path
                d="M2.5 14.5v-4c0-3.771 0-5.657 1.172-6.828S6.729 2.5 10.5 2.5h3c3.771 0 5.657 0 6.828 1.172S21.5 6.729 21.5 10.5v4"
              ></path>
              <path d="M15 13.5s-2.21-3-3-3s-3 3-3 3m3-2.5v6.5"></path>
            </g>
          </svg>
          Published in: <a
            href={CONTRIBUTIONS.cover.link}
            target="_blank"
            class="text-cyan-400 hover:underline"
          >
            Journal of Biological Chemistry
          </a>
        </div>
      </div>
    </div>
  </div>
</Card>
