---
import "@/styles/global.css";

import { app } from "@/configs/app";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={app.description} />
    <meta name="generator" content={Astro.generator} />
    <title>{app.name}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
